.*
Makefile
Makefile.in
accounts.conf
aclocal.m4
autom4te.cache
/build-aux
/configure
/config.*
debian/
gtk-doc.make
/INSTALL
libtool
m4/gtk-doc.m4
m4/libtool.m4
m4/lt*.m4
patches
stamp-h1
*~
*.core
*.gir
*.la
*.lo
*.o
*.pc
*.stamp
*.typelib
*.tar.*
/docs/reference/ag-backup.1
/docs/reference/ag-tool.1
/docs/reference/html/
/docs/reference/libaccounts-glib*txt
/docs/reference/libaccounts-glib.*
!/docs/reference/libaccounts-glib-sections.txt
/docs/reference/tmpl/
/docs/reference/version.xml
/docs/reference/xml/
/libaccounts-glib/ag-marshal.c
/libaccounts-glib/ag-marshal.h
