Makefile
Makefile.in
aclocal.m4
compile
config.*
configure
debian/
depcomp
.*
*.o
*.lo
*.la
*.stamp
/docs/reference/html/
/docs/reference/libaccounts-glib*txt
/docs/reference/libaccounts-glib.*
/docs/reference/tmpl/
/docs/reference/xml/
gtk-doc.make
install-sh
*.pc
/libaccounts-glib/ag-marshal.c
/libaccounts-glib/ag-marshal.h
libtool
ltmain.sh
missing
stamp-h1
*~
patches
