.*
Makefile
Makefile.in
accounts.conf
aclocal.m4
autom4te.cache
compile
configure
config.*
debian/
depcomp
gtk-doc.make
install-sh
libtool
ltmain.sh
missing
patches
stamp-h1
*~
*.core
*.gir
*.la
*.lo
*.o
*.pc
*.stamp
*.typelib
*.tar.*
/docs/reference/html/
/docs/reference/libaccounts-glib*txt
/docs/reference/libaccounts-glib.*
/docs/reference/tmpl/
/docs/reference/xml/
/libaccounts-glib/ag-marshal.c
/libaccounts-glib/ag-marshal.h
